NODE_ENV=development
APP_CONTENT_URL=https://example.com/
APP_AUTHENTICATION_ORIGINS=
APP_ENABLE_DEVTOOLS=false
APP_ALLOW_ARBITRARY_NAVIGATION=false
APP_PERSIST_SESSION=false
APP_SESSION_NAME=workspace
